<ol reversed>
    <h2>{{ .name }}</h2>
    <p>{{ .abstract }}</p>
    <h3>Authors</h3>
    <ul>
        {{ range .author }}
        <li><a href="{{ if .ORCID}}{{.ORCID}}}{{else}}{{.url}}{{end}}">{{ .name }}</a></li>
        {{ end }}
    </ul>
    <br>
    <h3>Contributor</h3>
    <ul>
        {{ range .contributor }}
        <li><a href="{{ if .url}}{{.url}}}{{else}}{{.name}}{{end}}">{{ .name }}</a></li>
        {{ end }}
    </ul>
    <br>
    <h4>Resources</h4>
    <ul>
        {{ range .hasPart }}
        <li><a href="{{ if .ORCID}}{{.ORCID}}}{{else}}{{.url}}{{end}}">{{ .name|markdownify}}</a></li>
        {{ end }}
    </ul>
    <br>

    <h4>FAIRPoints</h4>
    <ul>
        {{ range .teaches }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
    </ul>

    <br>
    <p>Date Published: {{ .datePublished }} <br> Version: {{ .version }}</p>
</ol>
