{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }} class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ $join_us := where (where .Site.RegularPages "Type" "join_us") ".Params.featured" true }}
{{if gt (len $join_us) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ $join_us := where (where .Site.RegularPages "Type" "join_us") ".Params.featured" true }}
      {{ range first 6 (sort $join_us ".Params.weight") }}
      <div class=".col-12 .col-md-8">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    {{ if not .Site.Params.homepage.show_join_us_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "join_us/" | relURL }}">View All join_us</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}
<div class="container pb-3 pt-3 pt-md-5 pb-md-10">
  <div class="row justify-content-start">
    <div class=".col-12 .col-md-8">
      <h1 class="title">About</h1>
      <div class="content"><p>The&nbsp;‘<a href="http://www.nature.com/articles/sdata201618">FAIR Guiding Principles for scientific data management and stewardship</a>’&nbsp;were published in&nbsp;Scientific Data in 2016 and since then we have seen a number of efforts towards turning this vision a reality.</p>
<p>A few years later, and there is a call for bringing a coherence amongst the multitude of initiatives&nbsp;and enhancing engagement between the multiple-players in the research ecosystem. There is also a palpable need to learn from each other across discplines in the face of the mamoth volumes of data produced leaving researchers across the board in dire need for practical instrumentations to be able to effectively and approperiately handle the data thereby reducing both current and future generational loss of research output.</p>
<p><strong>FAIRPoints</strong> event series aim to bridge the divide by bringing together; the <strong>research community</strong>- the ultimate user and producer of data, <strong>policy and decision makers</strong>- shapers of research practices, together with the broader <strong>research support populace</strong>- aides in the development of solutions towards better Findability, Accessibility, Interoperability and Reuse.</p>
<p>At <strong>FAIRPoints</strong>, we aim to provide a <strong>platform</strong> for conversations to take place around realistic and pragmatic FAIR implementations and going a step further into the direction of capturing the discussion outcomes in the form of <strong>bite-sized material</strong> that is interconnected and interoperable, making it easier to explore.</p>
<p>Our intent is to make FAIR <strong>accessible</strong> to a broader audience, connect and collect hetergenous input from a <strong>global prespective</strong> and amass a compilation of <strong>use-cases and how-to-approaches.</strong></p>
<p>Together with <a href="https://www.go-fair.org/">GoFAIR US</a>, <a href="https://www.sdsc.edu/">SDSC</a>,&nbsp;<a href="https://www.agu.org/">AGU</a>,<a href="https://www.scilifelab.se/data">SciLifeLab Data Centre</a>, <a href="https://access2perspectives.org/">Access 2 Perspectives</a> and <a href="https://info.africarxiv.org/">AfricArXiv</a> we bring you a series of events to discuss, highlight, and share pragmatic solutions to making FAIR a reality from viewpoints that transverse geographic&nbsp;and&nbsp;domain areas&nbsp;in order to cultivate researchers’ engagement in&nbsp;FAIR&nbsp;on a global scale.</p>
</div>
    </div>
  </div>
</div>
{{if .Site.Data.features}}
<div class="strip strip-grey">
  <div class="container pt-3 pb-6 pt-md-5 pb-md-10">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo" src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title"><a href="{{ .relref }}">{{ .title }}</a></h2>
          <div class="feature-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}
